@font-face {
  font-family: fairlyodd;
  src: url(BandeinsStrangeVariable.ttf);
}
* {
  box-sizing: border-box;
  font-family: fairlyodd;
}

html {
  background: url(./images/ggnatpark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  height: 100%;
}

.App_main {
  position: fixed;
  left: 10%;
  margin: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgba(122, 122, 122, 0.5);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.App_main::-webkit-scrollbar {
  display: none; /* Google Chrome */
}

h2 {
  background: rgba(0, 0, 0, 0.8);
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

h5 {
  text-shadow: 0px 0px 15px black;
}

.homepage {
  width: 80%;
  height: 100%;
  padding: 15px;
  padding-top: 80px;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
  font-weight: 600;
}

.links {
  font-weight: bold;
  color: white;
}

.bio {
  width: 80%;
  height: 100%;
  padding: 15px;
  padding-top: 80px;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
  font-weight: 600;
}

.portfolio {
  width: 80%;
  height: 100%;
  padding: 15px;
  padding-top: 80px;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
  font-weight: 600;
}

.audioshire {
  width: 80%;
  height: 100%;
  padding: 15px;
  padding-top: 80px;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
  font-weight: 600;
}

.contactform {
  width: 80%;
  height: 100%;
  padding: 15px;
  padding-top: 80px;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #1db954;
}

a:hover {
  color: #1db954;
}

.navBar a:hover {
  color: #1db954;
}

.followme {
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: -15px;
  font-weight: bold;
  display: none;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.socialsbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}

.socialsGroup {
  z-index: 1001;
  display: flex;
  flex-direction: row;
  bottom: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
}

.socialsbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;
  width: 55px;
  color: white;
}

.socialsbar .linkedin {
  color: white;
  background-color: #0a66c2;
}

.socialsbar .twitter {
  color: white;
  background-color: #3299ff;
}

.socialsbar .github {
  color: white;
  background-color: black;
}

.instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.socialsbar .contactme {
  text-align: center;
  text-decoration: none;
  background-color: #1db954;
  color: white;
  font-weight: bold;
  height: 48px;
  border-top-right-radius: 10px;
}

.github {
  border-top-left-radius: 10px;
}

.navBar {
  position: fixed;
  background: rgb(0, 0, 0);
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  height: 80px;
}

.navBar button {
  position: fixed;
  right: 3%;
  top: 20px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  margin: auto;
  margin-right: -30px;
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 50%;
}

.navBar a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 15px black;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 6rem;
}

img {
  width: 100%;
  box-shadow: 0px 0px 25px black;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.audio {
  width: 100%;
  border-radius: 100px;
}

.me {
  border-radius: 100px;
  max-width: 300px;
  display: none;
}

.meNav {
  display: block;
  position: fixed;
  top: 2px;
  color: white;
  left: 9%;
  width: 50px;
  border-radius: 100px;
  z-index: 1005;
  text-shadow: 0px 0px 15px rgba(255, 253, 253, 0.315);
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.item {
  flex: 1;
  margin: 10px;
  width: 100%;
}

.audioshireGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-content: center;
}

.audioItem {
  flex: 1;
  margin: 10px;
}

.audioItem img:hover {
  transform: scale(1.05);
}

.portfoliogroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.portfoliohead {
  text-align: center;
}

.portfolioitem {
  flex: 1;
  margin: 10px;
}

.portfolioitem img {
  max-width: 300px;
  max-height: 300px;
  left: 50px;
}

.portfolioitem img:hover {
  transform: scale(1.05);
}

.nav-logo {
  display: none;
  z-index: 1005;
  color: white;
}

.contactbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.contactbuttons button {
  border: none;
  margin: 10px;
  font-weight: 800;
  color: white;
  height: 35px;
  width: 90px;
  text-shadow: 2px 2px 15px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #1db954;
  box-shadow: 0px 0px 15px rgb(70, 69, 69);
}

.contactbuttons button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.contactbuttons button:active {
  transform: scale(90%);
}

.contactemail {
  display: flex;
  justify-content: center;
}

.contactbox .contactitem {
  margin: 10px;
}

input {
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

textarea {
  width: 269px;
  height: 100px;
  border-radius: 10px;
  border: none;
  text-align: left;
  padding: 10px;
}

.gatebox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.projectlinks {
  display: flex;
  position: relative;
  top: -5px;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid black;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  width: 175px;
  height: 100%
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  border-radius: 10px;
}

.skillsitem {
  margin: 8px;
  color: white;
  font-weight: bolder;
}

.homeitem {
  margin-bottom: 80px;
}

.michaelscott {
  display: flex;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  left: 50%;
  width: 400px;
  background:rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
}

/* ~  ~  ~ DESKTOP STYLINGS ~  ~  ~ */
@media all and (min-width: 900px) {
  .audioshireGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .audioItem {
    flex: 1;
    width: 375px;
  }

  .group {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .socialsGroup {
    z-index: 1001;
    position: fixed;
    display: flex;
    left: 10px;
    top: calc(50% - (275px / 2));
    width: 55px;
    height: 275px;
  }
  
  .item img{
    text-align: right;
    justify-content: right;
  }

  .socialsbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    padding-left: 60px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    transition: transform 425ms cubic-bezier(0.5, 0.65, 0.18, 1);
  }

  .socialsbar a:hover {
    transform: translate3d(20px, 0, 0);
  }

  .socialsGroup {
    flex-direction: column;
    bottom: unset;
  }

  .followme {
    display: unset;
  }

  .socialsbar .contactme {
    border-bottom-right-radius: 10px;
    height: 52px;
    border-top-right-radius: 0px;
  }

  .github {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
  }

  .instagram {
    color: white;
  }

  .meNav {
    display: none;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    margin: auto;
    margin-right: -80px;
    background: rgba(0, 0, 0, 0.795);
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    transition: transform 600ms cubic-bezier(0.2, 0.45, 0.8, 0.9);
  }

  .menuNav.showMenu {
    width: 10%;
    transform: translate3d(-80px, 0, 0);
  }

  .nav-logo {
    position: fixed;
    top: 0.2%;
    left: 5%;
    color: white;
    display: unset;
    text-shadow: 0px 0px 15px rgba(255, 253, 253, 0.315);
  }

  .homegroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 50px;
  }

  .homeitem {
    width: 500px;
    margin-bottom: unset;
  }

  .portfoliogroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .portfolioitem {
    flex: 1;
    margin: 10px;
  }

  .overlayContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: auto;
    width: 275px;
    z-index: 6;
  }

  .overlayContainer:hover {
    width: 275px;
  }

  .overlayContainer img {
    width: 275px;
    z-index: 4;
  }

  .overlayContainer .projectlinks {
    position: absolute;
    top: 50px;
    display: inline-block;
    justify-content: left;
    text-align: left;
    height: unset;
    left: 25%;
    visibility: hidden;
  }

  .overlayContainer:hover .projectlinks {
    top: 10px;
    left: 10%;
    z-index: -1;
    padding-left: 10px;
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;
    transition: transform 300ms cubic-bezier(0.2, 0.45, 0.8, 0.9);
    transform: translate3d(-145px, 0, 0);
    visibility: visible;
  }

  .projectlinks a:hover {
    text-decoration: underline;
  }

  .me {
    display: unset;
    text-align: center;
    width: 300px;
  }

  .gateway {
    margin: auto;
    margin-top: 80px;
    align-content: stretch;
  }

  .gatebox {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 100%;
  }

  .gateitem {
    margin: 0;
    padding: 0;
  }

  .gateitem img {
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 15px black;
  }

  .cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
