@font-face {
  font-family: fairlyodd;
  src: url(BandeinsStrangeVariable.ttf);
}
* {
  box-sizing: border-box;
  color: white;
  font-family: fairlyodd;
}

html {
  background: url(./images/ggnatpark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App_main {
  margin: auto;
  background-color: rgba(155, 152, 152, 0.5);
  width: 80%;
  top: 0;
  height: 100%;
}

.homepage {
  width: 80%;
  justify-content: right;
  margin: auto;
  margin-top: 80px;
  height: 100%;
}

.homepage p {
  color: black;
}

.links {
  font-weight: bold;
  color: black;
}

.links:hover {
  font-size: 18px;
}

.bio {
  width: 80%;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 50px;
  text-align: center;
}

.portfolio {
  width: 80%;
  margin: auto;
  padding-top: .1px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.audioshire {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contactform {
  width: 80%;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1db954;
}

.navBar a:hover {
  color: #1db954;
}

.followme {
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: -15px;
  font-weight: bold;
  display: none;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.socialsbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}

.socialsGroup {
  z-index: 1001;
  display: flex;
  flex-direction: row;
  bottom: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
}

.socialsbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;
  width: 55px;
}

.socialsbar .linkedin {
  color: white;
  background-color: #0a66c2;
}

.socialsbar .twitter {
  color: white;
  background-color: #3299ff;
}

.socialsbar .github {
  color: white;
  background-color: black;
}

.instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.socialsbar .contactme {
  text-align: center;
  text-decoration: none;
  background-color: #1db954;
  color: white;
  font-weight: bold;
  height: 48px;
  border-top-right-radius: 10px;
}

.github {
  border-top-left-radius: 10px;
}

.navBar {
  position: fixed;
  background: rgb(0, 0, 0);
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.navBar button {
  position: fixed;
  right: 3%;
  top: 30px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  margin: auto;
  margin-right: -30px;
  background: rgba(0, 0, 0, .8);
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  transition: transform 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.menuNav.showMenu {
  width: 50%;
  transform: translate3d(-30px, 0, 0);
}

.navBar a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 15px black;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 6rem;
}

img {
  width: 100%;
  box-shadow: 0px 0px 25px black;
}

.audio {
  width: 100%;
  border-radius: 100px;
}

.me {
  border-radius: 100px;
  max-width: 300px;
  display: none;
}

.meNav {
  display: block;
  position: fixed;
  top: 10px;
  left: 13%;
  width: 50px;
  border-radius: 100px;
  z-index: 1001;
  text-shadow: 0px 0px 15px white;
}

.group {
  display: flex;
  flex-direction: column;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.item {
  flex: 1;
  margin: 10px;
  width: 100%;
}

.audioshireGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.audioItem {
  flex: 1;
  margin: 10px;
}

.audioItem img:hover {
  width: 285px;
}

.portfoliogroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolioitem {
  flex: 1;
  margin: 10px;
  max-width: 50%;
}

.nav-logo {
  display: none;
  z-index: 1001;
}

@media all and (min-width: 900px) {
  .audioshireGroup {
    flex-direction: row;
  }

  .group {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .socialsGroup {
    z-index: 1001;
    position: fixed;
    display: flex;
    left: 10px;
    top: calc(50% - (275px / 2));
    width: 55px;
    height: 275px;
  }

  .socialsbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    padding-left: 60px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    transition: transform 425ms cubic-bezier(0.5, 0.65, 0.18, 1);
  }

  .socialsbar a:hover {
    transform: translate3d(20px, 0, 0);
  }

  .socialsGroup {
    flex-direction: column;
    bottom: unset;
  }

  .followme {
    display: unset;
  }

  .socialsbar .contactme {
    border-bottom-right-radius: 10px;
    height: 52px;
    border-top-right-radius: 0px;
  }

  .github {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
  }

  .instagram:hover {
    color: white;
  }

  .meNav {
    display: none;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    margin: auto;
    margin-right: -50px;
    background: rgba(0, 0, 0, 0.795);
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    transition: transform 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  
  .menuNav.showMenu {
    width: 10%;
    transform: translate3d(-50px, 0, 0);
  }

  .nav-logo {
    position: fixed;
    top: .2%;
    left: 13%;
    display: unset;
    text-shadow: 0px 0px 15px rgba(238, 237, 237, 0.253);
  }

  .contactbox {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .contactbox .item {
    width: 100px;
  }

  .homegroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .homeitem {
    width: 500px;
  }

  .portfoliogroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }

  .portfolioitem {
    flex: 1;
    flex-shrink: 0;
    flex-grow: auto;
    margin: 10px;
    width: 50%;
  }

  .me {
    display: unset;
    text-align: center;
    width: 300px;
  }
}
